body{
    background-color: #1C1C1C;
    color: white;
}

section{
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 25px;
}

p{
    padding-top: 10px;
}

nav{
    height: 100px;
}

.nav-item{
    color: grey;
    font-size: 20px;
}

.dropdown-item{
    color: grey;
}

#accordion{
    padding-top: 10px;
    padding-left: 50px;
    padding-right: 50px;
}

.btn {
    color: white;
}
.card{
    color: white;

}
.card-body{
    color: white;
    background-color: #4F0470;
}

.card-header{
    background-color: #0C0225;
}

.card-header:hover {
    background-color: #36014C;
    color: blue;
    transition: all 0.2s ease;
}

.nav-item:hover{
    background-color: #120730;
}

.dropdown-item:hover{
    color: white;
}

.carousel{
    padding-top: 50px;
    padding-left: 20px;
    padding-right: 20px;
    width: 50%;

}

.img-fluid{
    max-height: 100%;
    max-width: 100%;
    min-height: 100%;
    min-width: 100%
}

#beachVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min height: 100%;
}
