body{
    background-color: #1C1C1C;
    color: white;
}

section{
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 25px;
}

p{
    padding-top: 10px;
}

nav{
    height: 100px;
}

.nav-item{
    color: grey;
    font-size: 20px;
}

.dropdown-item{
    color: grey;
}

#accordion{
    padding-top: 10px;
    padding-left: 50px;
    padding-right: 50px;
}

.btn {
    color: white;
}
.card{
    color: white;

}
.card-body{
    color: white;
    background-color: #4F0470;
}

.card-header{
    background-color: #0C0225;
}

.card-header:hover {
    background-color: #36014C;
    color: blue;
    transition: all 0.2s ease;
}

.nav-item:hover{
    background-color: #120730;
}

.dropdown-item:hover{
    color: white;
}

.carousel{
    padding-top: 70px;
    padding-left: 20px;
    padding-right: 20px;
}

.img-fluid{
    max-height: 90%;
    max-width: 90%;
    min-height: 80%;
    min-width: 80%
}

#beachVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min height: 100%;
}

.carousel-control-next{
    padding-top: 10%;
    height: 20%;
    position: absolute;
    top: 50%

}

.carousel-control-prev{
    padding-top: 10%;
    height: 20%;
    position: absolute;
    top: 50%
}
