body{
    background-color: #1C1C1C;
    background-blend-mode: multiply;
    background-position:center;
    background-size: cover;
    background-repeat: no-repeat;
    overflow-x: hidden;
    overflow-y: auto;
}

section{
    
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 25px;
}

p{
    padding-top: 10px;
}

nav{
    height: 50px;
}

@media(max-width: 991px) {
    .sidebar {
        background-color: #36014C;
        backdrop-filter: blur(10px);
    }
}

@media(min-aspect-ratio: 16/9) {
    .background-vid {
        width: 100%;
        height: auto;
    }
}

@media(max-aspect-ratio: 16/9) {
    .background-vid {
        width: auto;
        height: 100%;
    }
}

.nav-item{
    color: grey;
    font-size: 20px;
}

.dropdown-item{
    color: grey;
}

#accordion{
    padding-top: 10px;
    padding-left: 50px;
    padding-right: 50px;
}

.btn {
    color: white;
}
.card{
    color: white;

}
.card-body{
    color: white;
    background-color:#260235;
}

.card-header{
    background-color: #0C0225;
}

.card-header:hover {
    background-color: #36014C;
    color: rgb(12, 12, 39);
    transition: all 0.2s ease;
}

.nav-item:hover{
    background-color: #43095c;
    color:#0C0225
}

.dropdown-item:hover{
    color: white;
}

.carousel{
    width: 500px;
    height: 500px;
    padding-top: 70px;
    padding-left: 20px;
    padding-right: 20px;
}

.img-fluid{
    width: auto;
    height: auto;
}

.carousel-item{
    width: 500px;
    height: 500px;
}


.background-vid {
    position: absolute;
    right: 0;
    bottom: 0;
    /* puts it in the background */
    z-index: -1;
    min-width: 100%;
    min-height: 100%;
    opacity: 0.8;

}


.carousel-control-next{
    padding-top: 10%;
    height: 20%;
    position: absolute;
    top: 50%

}

.carousel-control-prev{
    padding-top: 10%;
    height: 20%;
    position: absolute;
    top: 50%
}


